.mobile-menu-active{
  opacity: 1;
  width: 280px;
}

.mobile-menu-active nav{
  display: block;
}

.bg-feedback-success{
  background-color: rgb(148, 206, 121);
}

.bg-feedback-warning{
  background-color: rgb(176, 185, 43);
}

.bg-feedback-error{
  background-color: rgb(217, 101, 101);
}